button {
  background: none;
  outline: none;
  border: none;
}

.button-primary {
  border-radius: 8px;
  background-color: var(--primary-color);
  color: var(--just-white);
  font-weight: 500;
  font-size: 1em;
  margin: 20px;
  padding: 0.5em 1em;
  min-width: 112px;
  min-height: 36px;
  cursor: pointer;
  transition: all 0.15s ease;
}

.button-primary:hover {
  transform: translate(-1px, -1px);
}
.button-primary:active {
  transform: translate(1px, 1px);
}

button {
  background: none;
  outline: none;
  border: none;
}
