.cartContainer {
  display: grid;
  grid-template: 1fr / 1fr;
  width: 100%;
  margin: 0 auto;
  height: 90vh;
  padding-top: 10px;
  padding-bottom: 150px;
  overflow-y: scroll;
}

.cartContainer section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsive-table {
  width: 100%;
}

.responsive-table li {
  padding: 15px 20px;
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  margin: 10px 0;
}

.responsive-table li div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-header {
  background-color: var(--secondary-color);
  color: var(--just-white);
  text-transform: uppercase;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  margin-bottom: 5px;
}

.form-control {
  padding: 5px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
}

@media screen and (min-width: 800px) {
  .cartContainer {
    width: 99.5%;
    grid-template: 1fr / 1fr 1fr;
    padding-top: unset;
  }
  .cartContainer section {
    margin: 5%;
  }
}
