.pageNotFound-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.pageNotFound-container h1 {
  font-size: 10rem;
}

.pageNotFound-container h2 {
    text-wrap: balance;
}

.pageNotFound-container h3 {
    text-wrap: balance;
}